.DS_Store

*/*.sqlite
*/*.sqlite3

*.pyc
__pycache__
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

env/*
bin
include
lib
local

*.py[cod]

public/
*/public/

.vscode/

/static/

.env
debug8.log

*/settings/production.py
*/settings/local.py
*.log
celerybeat-schedule
celerybeat-schedule.db
db.sqlite3

*.sqlite3
0*.py
__pycache__/
*.env
.idea/
ToDo.txt

external_notify/appriseCLI.sh
test_code.py
asyncprogramming.py
workspace/templates
todo.py